{{ include('one_page/form.html.twig')}}

Cartes de mon deck
<div class="col-lg-12">
    <div class="row">
		<div id="clickDeck">
			{% for cartes in ListeCarteDeck %}
				{% if cartes.nombre > 0 %}
					{% for i in 1..cartes.nombre %}
						<div class="col-lg-2 col-md-4 mb-5">
							<div class="card">
								<input class="carteID" type="hidden" value="{{ cartes.carte.id }}">
								<input class="deckID" type="hidden" value="{{ deck.id }}">
							    <div class="cardHeader">
							        <div class="cardNumber" style="color:green"> {{ cartes.carte.PV }} </div>
							        <div class="cardTitle"> {{ cartes.carte.titre }} </div>
							        <div class="cardNumber" style="color:grey"> {{ cartes.carte.armure}} </div>
							    </div>
							    <div class="cardImage" style="
							    	background-image:url('{{ asset('uploads/cartes/'~cartes.carte.image) }}');
							    "></div>
							    <div class="cardDescription">
							    	{{ cartes.carte.description }}
							    </div>
							    <div class="cardFooter">
							        <div class="cardNumber" style="color:blue"> {{ cartes.carte.cout }} </div>
							        <div class="cardNumber" style="color:red"> {{ cartes.carte.attaque }} </div>
							    </div>
							</div>
						</div>
		            {% endfor %}
		        {% endif %}
            {% endfor %}
        </div>
    </div>
</div>



Cartes disponibles
<div class="col-lg-12">
    <div class="row">
		<div id="clickCarte">
			{% for carte in cartes %}
				<div class="col-lg-2 col-md-4 mb-5">
					<div class="card">
						<input class="carteID" type="hidden" value="{{ carte.id }}">
						<input class="deckID" type="hidden" value="{{ deck.id }}">
					    <div class="cardHeader">
					        <div class="cardNumber" style="color:green"> {{ carte.pv }} </div>
					        <div class="cardTitle"> {{ carte.titre }} </div>
					        <div class="cardNumber" style="color:grey"> {{ carte.armure }} </div>
					    </div>
					    <div class="cardImage" style="
					    	background-image:url('{{ asset('uploads/cartes/'~carte.image) }}');
					    "></div>
					    <div class="cardDescription">
					    	{{ carte.description }}
					    </div>
					    <div class="cardFooter">
					        <div class="cardNumber" style="color:blue"> {{ carte.cout }} </div>
					        <div class="cardNumber" style="color:red"> {{ carte.attaque }} </div>
					    </div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>	