{% block body %}

	{% if cartes is defined %}
	    <h1>{{ titre }}</h1> 	
			<div class="col-lg-12">
			    <div class="row">
					<div id="clickAffichageCarte">
				        {% for carte in cartes %}
			            	<div class="card">
			            		<input class="carteID" type="hidden" value="{{ carte.id }}">
							    <div class="cardHeader">
							        <div class="cardNumber" style="color:green"> {{ carte.pv }} </div>
							        <div class="cardTitle"> {{ carte.titre }} </div>
							        <div class="cardNumber" style="color:grey"> {{ carte.armure }} </div>
							    </div>
							    <div class="cardImage" style="
							    	background-image:url('{{ asset('uploads/cartes/'~carte.image) }}');
							    "></div>
							    <div class="cardDescription">
							    	{{ carte.description }}
							    </div>
							    <div class="cardFooter">
							        <div class="cardNumber" style="color:blue"> {{ carte.cout }} </div>
							        <div class="cardNumber" style="color:red"> {{ carte.attaque }} </div>
							    </div>
							</div>
						{% else %}
							<table class="table">
						        <tbody>
									<tr>
						                <td colspan="7">Pas d'éléments trouvé</td>
						            </tr>
					            </tbody>
						    </table>
				        {% endfor %}
				    </div>
			    </div>
			</div>   
	{% endif %}

	{% if factions is defined %}
		<h1>{{ titre }}</h1>
		<table class="table">
	        <thead>
	            <tr>
	                <th>Titre</th>
	                <th>Description</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for faction in factions %}
	            <tr>
	                <td>{{ faction.titre }}</td>
	                <td>{{ faction.description }}</td>
                    <td><a href="{{ path('faction_show', {'id': faction.id}) }}">Voir détails</a></td>
                    <td><a href="{{ path('faction_edit', {'id': faction.id}) }}">Modifier faction</a></td>
	            </tr>
            {% else %}
				<tr>
	                <td colspan="4">Pas d'éléments trouvé</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% endif %}

	{% if types is defined %}
		<h1>{{ titre }}</h1>
		<table class="table">
	        <thead>
	            <tr>
	                <th>Titre</th>
	                <th>Description</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for type in types %}
	            <tr>
	                <td>{{ type.titre }}</td>
	                <td>{{ type.description }}</td>
                    <td><a href="{{ path('type_show', {'id': type.id}) }}">Voir détail</a></td>
                    <td><a href="{{ path('type_edit', {'id': type.id}) }}">Modifier type</a></td>
	            </tr>
            {% else %}
				<tr>
	                <td colspan="4">Pas d'éléments trouvé</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% endif %}

	{% if decks is defined %}
		<h1>{{ titre }}</h1>
		<table class="table">
	        <thead>
	            <tr>
	                <th>Titre</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for deck in decks %}
	            <tr>
	                <td>{{ deck.titre }}</td>
                    <td><a href="{{ path('deck_show', {'id': deck.id}) }}">Voir détails</a></td>
                    <td><a href="{{ path('deck_edit', {'id': deck.id}) }}">Modifier Deck</a></td>
	            </tr>
            {% else %}
				<tr>
	                <td colspan="4">Pas d'éléments trouvé</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% endif %}

{% endblock %}