

{% block body %}

	{% if carte is defined %}
		<h1>{{ titre }}</h1>
		<table class="table">
	        <tbody>
	            <tr>
	                <th>Id</th>
	                <td>{{ carte.id }}</td>
	            </tr>
	            <tr>
	                <th>Titre</th>
	                <td>{{ carte.titre }}</td>
	            </tr>
	            <tr>
	                <th>Description</th>
	                <td>{{ carte.description }}</td>
	            </tr>
	            <tr>
	                <th>PV</th>
	                <td>{{ carte.PV }}</td>
	            </tr>
	            <tr>
	                <th>Armure</th>
	                <td>{{ carte.armure }}</td>
	            </tr>
	            <tr>
	                <th>Attaque</th>
	                <td>{{ carte.attaque }}</td>
	            </tr>
	            <tr>
	                <th>Créateur</th>
	                <td>{{ carte.createur.getpseudo() }}</td>
	            </tr>
	        </tbody>
	    </table>

	    <a href="{{ path('carte_index') }}">back to list</a>
	    <a href="{{ path('carte_edit', {'id': carte.id}) }}">edit</a>
	    {{ include('carte/_delete_form.html.twig') }}
	{% endif %}

	{% if faction is defined %}
		<table class="table">
	        <tbody>
	            <tr>
	                <th>Id</th>
	                <td>{{ faction.id }}</td>
	            </tr>
	            <tr>
	                <th>Titre</th>
	                <td>{{ faction.titre }}</td>
	            </tr>
	            <tr>
	                <th>Description</th>
	                <td>{{ faction.description }}</td>
	            </tr>
	        </tbody>
	    </table>

	    <a href="{{ path('faction_index') }}">back to list</a>
	    <a href="{{ path('faction_edit', {'id': faction.id}) }}">edit</a>
	    {{ include('faction/_delete_form.html.twig') }}
	{% endif %}

	{% if type is defined %}

		<table class="table">
	        <tbody>
	            <tr>
	                <th>Id</th>
	                <td>{{ type.id }}</td>
	            </tr>
	            <tr>
	                <th>Titre</th>
	                <td>{{ type.titre }}</td>
	            </tr>
	            <tr>
	                <th>Description</th>
	                <td>{{ type.description }}</td>
	            </tr>
	        </tbody>
	    </table>

	    <a href="{{ path('type_index') }}">back to list</a>
	    <a href="{{ path('type_edit', {'id': type.id}) }}">edit</a>
	    {{ include('type/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}